
    <div class="container-fluid">

	<div class="row form-row">

    <div class="col-md-12 login-form">
	<h4>Login if you have an account<h4>
                <div class="error" style="color: red;">{{errorText}}</div>
			<form class="login-form" role="form">
			  <div class="form-group">
			    <label for="email">Email:</label>
			    <input ng-model="data.email" type="email" class="form-control" id="email">
			  </div>
			  <div class="form-group">
			    <label for="pass">Password:</label>
			    <input ng-model="data.pass" type="password" class="form-control" id="pass">
			  </div>
			  <div>
			    <a style="cursor: pointer;" href="#/passwordreset/">Forgot your password?</a>
			  </div>
			  <button ng-click="clickedSubmit()" type="submit" class="btn btn-default">Submit</button>
			</form>
	      </div>
	</div>

    </div>

    </div>
