<div class="container-fluid">
<div class="row">
<div class="col-md-2 col-md-offset-4">
	<h2>Contact Us</h2>
	<br /><br />
	<h3>Golfguide.net</h3>
	<p>
		Synergy Media, LLC<br />
		884 Second Street<br />
		Santa Rosa, CA 95404
	</p>
	<br />
	<h3>Questions / Comments / Support</h3>
	<p>
		<strong>Phone:</strong> 707-578-3300<br />
		<strong>Fax:</strong> 707-578-8450<br />
		<a href="mailto:info@golfguide.org">info@golfguide.org</a>
	</p>
	<br />
</div>

	<!--

	<p>
		Fill out the form below to contact us directly. Someone from our staff will personally respond shortly.
	</p>
	<br />
	<form action="/phpform/submit.php" method="post">
		<div id="contact_form">
			<label for="name">Name</label><br />
			<input name="name" id="name" value="" type="text" /><br /><br />

			<label for="email">Email</label><br />
			<input name="email" id="email" class="style2" value="" type="text" /><br /><br />

			<label for="message">Message</label><br />
			<textarea name="message" id="message" cols="40" rows="8"></textarea><br /><br />

			<button type="submit" name="submit" class="submit">Submit</button>
		</div>
	</form>

	-->
</div>
</div>