<!-- Main jumbotron for a primary marketing message or call to action -->
<jumbotron-directive title="Adrian Smith" subtitle="Student - Developer" imghref="" ishome="true"></jumbotron-directive>

<div class="container">
	<div class="row">
		<div class="col-xs"></div>
		<div class="col-md-10 col-sm-12">
			<h2>I Make Software</h2>
			<p>
				The internet is a wide place, and someone has to make the stuff filling it up. I'm a student and developer who
				makes a wide variety of content. I focus on web development and machine learning, though I also have an interest in
				cryptography. I currently work at <a href="bpwebdesign.com">Bright Productions Web Design</a> in Sonoma County California as
				a full stack web developer, as well as attending Sonoma State for a bachelor of science in Computer Science.
			</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-xs"></div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-xs"></div>
		<div class="col-md-10 col-sm-12">
			<h2>I Use This Website</h2>
			<p>
				This website primarily servers to host my blog and projects. It also has contact details for me, and a system that allows anyone to
				make an account and get features like notifications about new posts, or access to tools hosted on the site. This website is built
				using a NodeJS backend and an Angular Frontend with Angular Material and Bootstrap 4 for user interface. The backend
				runs the user system as well as the blog and projects content. Feel free to contact me about my projects, or about anything else.
			</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-xs"></div>
	</div>
</div>
<div class="container">
	<div class="row">
	</div>
</div>