

<br/><br/><br/>
    <div class="container-fluid">

	<div class="row form-row">


	      <div class="col-md-3 col-md-offset-4 login-form">

	<h2>Sign-Up</h2>
	<!--a href="#login">Or login</a-->	
			<form class="signup-form" role="form">
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input ng-model="data.email" type="email" class="form-control" id="email">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password:</label>
			    <input ng-model="data.pass1" type="password" class="form-control" id="pwd">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Re-enter Password:</label>
			    <input ng-model="data.pass2" type="password" class="form-control" id="pwd">
			  </div>
			  <button ng-click="clickedSubmit()" type="submit" class="btn btn-default">Submit</button>
			</form>

	      </div>
	</div>

    </div>

<script>


</script>
